<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  
  <!-- navbar -->
  <div class="container-fluid">
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light justify-content-md-center h1 py-3" id="ids_navbar">
        <a class="navbar-brand center" href="#">IDS - ds2os</a>
    </nav>
  </div>
      
  <!-- prediction form -->
  <div class="container-fluid">
    
    <form action="">

      <div class="form-row justify-content-md-center mt-3">
        <p class="mt-2 mr-2">Choose Model </p>
        <div class="form-group">
          <select id="chooseModel" class="form-control">
              <option selected>KNN</option>
              <option>Naive Bayes</option>
              <option>K-means</option>
          </select>
        </div>
      </div>

    </form>

  </div>    

</body>
</html>